{% extends 'base.html' %} {% block content %}

    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-8 col-sm-offset-2 dull">
                <h2 class="text-center pt1em">SUPER AWESOME ALIGNMENT TOOL</h2>
                <form method="POST" role="form"> {% csrf_token %}
                    <div class="form-group">
                        <label for="seq1">Sequence 1</label>
                        <br/> {{form.seq1}}
                    </div>
                    <div class="form-group">
                        <label for="seq2">Sequence 2</label>
                        {{form.seq2}}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="seqtype">Sequence type</label>
                            {{form.seqtype}}
                        </div>
                        <div class="col-sm-6">
                            <label for="matrix">Matrix</label>
                            {{form.matrix}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="gapopen">Gap Open</label>
                            {{form.gapopen}}
                        </div>
                        <div class="col-sm-6">
                            <label for="gapext">Gap Extended</label>
                            {{form.gapext}}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-block btn-primary">
                                <i class="fa fa-align-left"></i>
                                Alinhar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}